* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.bg {
  max-width: 100%;
  max-height: 100%;
  position: static;
  padding: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: black;
  z-index: -1;
}

#cp {
  max-height: 110%;
  max-width: 100%;
  position: relative;
  margin-left: 0px;
}

.navsymbol {
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
  opacity: 0.8;
}

.logo-link {
  margin-left: 10px;
  position: fixed;
}

.navhead {
  /*width: 2000px;*/
  width: 100%;
  /*max width for responsive design*/
  height: 43.5px;
  position: fixed;
  top: 0px;
  left: 0px;
  /*left:129px;*/
  background-color: black;
  opacity: 0.8;
  margin-top: 10px;
  /*margin-left: 128px;*/
  padding-left: 700px;
  overflow: hidden;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

ul li .icon {
  display: none;
}

li:hover {
  cursor: pointer;
}

/*#nav1{
  list-style-type: none;
  margin-top: 5px;
  padding-top:5px;
  padding-bottom:  10px;
  height:50px;
  position:relative;
  overflow: hidden;
  background-color:black;
  opacity: 0.5;
}*/
/*#subnav1{

  list-style: none;
}*/
ul li {
  display: inline-block;
  transition-duration: 0.5s;
  font-family: BlenderProBold, sans-serif;
  text-align: center;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: fixed;
  /*margin: 0 0 0 195px;*/
  display: none;
}

ul li ul li {
  background: black;
  display: block;
}

/*li{
  float:left;
  margin:5px 0 0 30px;
  font-family: BlenderProBold,sans-serif;
}*/
li a {
  display: block;
  color: white;
  font-size: 20px;
  padding: 14px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

ul li:hover>ul, ul li:focus-within>ul, ul li ul:hover {
  visibility: visible;
  opacity: 0.8;
  display: block;
}

@media screen and (max-width: 600px) {
  .navhead #nav1 #n11 a:not(:first-child) {
    display: none;
  }

  .navhead #nav1 #n11 a.icon {
    float: right;
    display: block;
  }
}

.page2 {
  max-width: 100%;
  height: 1020px;
  position: static;
  color: red;
  background-color: ;
  overflow-y: scroll;
  background-image: url(page2.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.I-content {
  position: static;
  max-width: 100%;
  background-color: black;
  opacity: 0.9;
}

.II-content {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 999px;
  height: 150px;
  padding-left: 50px;
  background-color: black;
  position: relative;
  margin-left: 700px
}

.II-background {
  display: inline;
}

.hh {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 150px;
  height: 150px;
  padding-left: 50px;
  background-color: black;
}

.hh-II1 {
  background-image: url(file:///C:/Users/Nischal/Desktop/HTML_notes/1384004-social-media/svg/alienware-logo.png);
}

.hh-II2 {
  background-image: url(file:///C:/Users/Nischal/Desktop/HTML_notes/1384004-social-media/svg/NVIDIA-LOGO.png);
}

.img-II {
  object-fit: cover;
}

::-webkit-scrollbar {
  display: none;
}

.hd_news {
  width: 100%;
  height: 100%;
  background-color: red;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(bck.png);
  position: fixed;
  overflow: scroll;
}

.navperma {
  width: 2000px;
  /*max width for responsive design*/
  height: 43.5px;
  position: relative;
  top: 0px;
  left: 0px;
  /*left:129px;*/
  background-color: black;
  opacity: 0.8;
  margin-top: 10px;
  /*margin-left: 128px;*/
  padding-left: 700px;
  overflow: hidden;
}

.news_box {
  float: left;
  margin-left: 280px;
  position: absolute;
  top: 50px;
  display: grid;
  background-image: url();
  background-color: black;
}

.item_left {
  width: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
}

.item_right {
  margin-left: 200px;
  color: red;
}
